<h2>Приглашение к участию</h2>
<p><%= @user.name %> приглашает Вас зарегистрироваться на сайте bbetter.club</p>
<p>Нельзя вернуться в прошлое и изменить свой старт, но можно стартовать сейчас и изменить свой финиш.</p>
<p>Регистрируйтесь на сайте: <a href="http://bbetter.club">http://bbetter.club</a></p>
<p>Ваш промокод: <%= @promocode %></p> 