 <%= render partial: 'users/errors', locals: { errors: flash[:new_solution_errors], info_messages: flash[:info_messages] } if flash[:modal] == 'restorePasModal' %> 
<div class="formWrapper">
  <%= form_for(@user, as: :user, url: restore_password_path, html: { method: :put }) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.email_field :email, autofocus: true, placeholder: 'Электронная почта' %>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-12">
          <%= f.submit "Восстановить", class: 'redBtn' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
