<section class="forumSec">
	<div class="headPage">
		<h1>Форум</h1>
		<ul class="tags">
			<li><a href="">#последние</a></li>
			<li><a href="">#популярные</a></li>
			<li><a href="">#неотвеченные</a></li>
		</ul>
	</div>
	
	<div class="postItem">
		<div class="imgWrap" style="background-image:url('<%= asset_path('feedbackSec/1_tren.png') %>');"></div>
		<div class="textWrap">
			<h3>Название поста</h3>
			<ul class="into">
			<li><i class="fa fa-commenting-o" aria-hidden="true"></i>5 ответов</li>
			<li><i class="fa fa-gratipay" aria-hidden="true"></i>6 голосов</li>
			<li><i class="fa fa-eye" aria-hidden="true"></i>300 просмотров</li>
			<li>40 мин. назад</li>
			</ul>
		</div>
		
	</div>
	<div class="postItem">
		<div class="imgWrap" style="background-image:url('<%= asset_path('feedbackSec/1_tren.png') %>');"></div>
		<div class="textWrap">
			<h3>Название поста</h3>
			<ul class="into">
			<li><i class="fa fa-commenting-o" aria-hidden="true"></i>5 ответов</li>
			<li><i class="fa fa-gratipay" aria-hidden="true"></i>6 голосов</li>
			<li><i class="fa fa-eye" aria-hidden="true"></i>300 просмотров</li>
			<li>40 мин. назад</li>
			</ul>
		</div>
		
	</div>
	<div class="postItem">
		<div class="imgWrap" style="background-image:url('<%= asset_path('feedbackSec/1_tren.png') %>');"></div>
		<div class="textWrap">
			<h3>Название поста</h3>
			<ul class="into">
			<li><i class="fa fa-commenting-o" aria-hidden="true"></i>5 ответов</li>
			<li><i class="fa fa-gratipay" aria-hidden="true"></i>6 голосов</li>
			<li><i class="fa fa-eye" aria-hidden="true"></i>300 просмотров</li>
			<li>40 мин. назад</li>
			</ul>
		</div>
		
	</div>
	
</section>