
  <section class="lineSec" id="fiveStep">
    <h1>Тариф &laquo;@current_tarrif.name&raquo;</h1>
  </section>
<section class="promoPageSec">
	<div class="container">

		<div class="col-md-12 text-center">
			<h1>Промокоды</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="textWrpper">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
				  <table class="table">
					  <thead>
			            <tr>
			              <th>Код</th>
			              <th>Дата активации</th>
			              <th>Статус</th>
			              <th>Пользователь</th>
			              <th class="text-center"><i class="fa fa-plus-circle" aria-hidden="true"></i></th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr>
			              <td>23423</td>
			              <td>12.04.2016</td>
			              <td>активирован</td>
			              <td>SFf asf sf as asd a sd</td>
			              <td class="text-center"><a data-toggle="modal" data-target="#promoModal">Пригласить</a></td>

			            </tr>
			           </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
	
</section>
