<section class="forumSec">
    




	<div class="postItem editPost" >
		<h3>Редактирование поста</h3>
		<div class="textWrap">
			<%= render 'form' %>
		</div>

		<ul class="settings">
			<li><%= link_to 'Посмотреть', @post %></li>
			<li><%= link_to 'Вернуться', posts_path %></li>
		</ul>
		
	</div>
</section>