<section class="forumSec">
  <div class="headPage">
    <h1>Форум</h1>
    <ul class="tags">
    </ul>
  </div>

  <div class="postItem">
    <div class="textWrap">
      <%= render 'form' %>
    </div>

  </div>

<div class="row">
    <div class="wrapAddItem"><%= link_to 'Назад', posts_path, class: "forumbtn" %></div>
</div>

</section>
