@charset "UTF-8";
$red:#d8003d;
$gray:#555555;
$yellow:#FFA001;

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: Mir;
}
h1 {
  font-family: meta;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}
.red {
  color:$red;
}
// .green {
//   color:green;
// }
button,
a:hover,
a:focus,
input,
input:focus,
textarea:focus,
select:focus,
button:visited {
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: Mir;
  src: asset-url("Mir/Mir.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: meta;
  src: asset-url("meta/MetaPro-Bold.otf");
  font-style: normal;
  font-weight: normal; }


form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

nav {
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
    img.mobileLogo {
      display: none;
      cursor: pointer;
    }
    img.desctopLogo {
      cursor: pointer;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: 0;
      a {
        color: #000;
        text-decoration: none;
        transition: all .5s ease;
        &:hover,&:focus {
          color: $red;
        }
        li {
          margin: 0 20px;
          font-size: 18px;
          line-height: 20px;
        }
      }
      &.right {
        flex-direction: column;
        position: relative;
        .dropdown {
          .dropdown-menu {
            display: none;
            background-color:$gray;
            justify-content: center;
            flex-direction: column;
            right: 0;
            left: auto;
            min-width: 130px;
            li {
              a {
                color:#fff;
                &:hover,&:focus {
                  color:$red;
                  background-color: transparent;
                }
              }
            }
          }
        &.open {
            .dropdown-menu {
              display:flex;
            }
          }
        }
        a {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

nav #menuToggle,nav .label-toggle  {
  display: none;
}


@media screen and (max-width: 1124px) {
  nav {
    .wrapper {
      display: block;
      .logo {
        img.mobileLogo {
          display: block;
        margin: 40px;
        max-width: 200px;
        }
        img.desctopLogo {
          display: none;
        }
      }
      ul {
        display: block;
        height: 250px;
        list-style-type: none;
        height: 0;
        opacity: 0;
        text-align: center;
        transition: all 1s ease;
        width: 100%;
        visibility: hidden;
        li {
          border-bottom: 1px solid #000;
          display: block;
          padding: 1em 0;
        }
        &.right {
          height: 0;
        }
      }
      #menuToggle:checked ~ ul {
        opacity: 1;
        height: 470px;
        visibility: visible;
        &.right {
          height: 60px;
          margin: 30px auto;
        }
      }
      .label-toggle {
        cursor: pointer;
        position: absolute;
        display: block;
        height: 35px;
        width: 40px;
        top: 60px;
        right: 20px;
        span {
          background-color: $red;
          display: block;
          margin-bottom: 6px;
          width: 35px;
          height: 3px;
        }
      }
    }
  }
}

.notif {
  background-color: #ffc017;
  padding: 50px 0;
  color: #fff;
  position: relative;
  .notifCarousel {
    margin-bottom:0;
    text-align: center;
    font-size:34px;
    span {
      padding-left: 80px;
    }
  }
  p.carousel {
    vertical-align: middle;
    line-height: 40px;
  }
  .notifWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    h2 {
      font-size: 24px;
      align-items: center;
      margin: auto;
      img {
        margin-right: 30px;
      }
    }
    p {
      margin: 0;
      a {
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .notif {
    padding: 30px 0;
    .notifWrap {
      display:block;
      text-align: center;
      h2 {
        line-height: 34px;
        img {
          display: block;
          margin:0 auto 20px;
        }
      }
    }
  }
}
.accordeonSection .tariffsCarousel {
  margin: 0;
  text-align: center; }
  .accordeonSection .tariffsCarousel div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 460px; }
    .accordeonSection .tariffsCarousel div .item {
      padding: 50px 30px; }
    .accordeonSection .tariffsCarousel div h2 {
      color: $red;
      font-size: 32px;
      font-weight: 800;
      margin-bottom: 20px; }
    .accordeonSection .tariffsCarousel div span {
      margin-bottom: 20px;
      color: $red;
      display: block;
      font-weight: 800; }
    .accordeonSection .tariffsCarousel div p {
      color: #fff;
      margin-bottom: 20px;
      line-height: 17px; }
  .accordeonSection .tariffsCarousel div.t1 {
    background-image: asset-url("accordeon/1.png"); }
    .accordeonSection .tariffsCarousel div.t1 .item {
      background-color: rgba(0, 0, 0, 0.5); }
  .accordeonSection .tariffsCarousel div.t2 {
    background-image: asset-url("accordeon/2.png"); }
    .accordeonSection .tariffsCarousel div.t2 .item {
      background: rgba(0, 0, 0, 0.5); }
  .accordeonSection .tariffsCarousel div.t3 {
    background-image: asset-url("accordeon/3.png"); }
    .accordeonSection .tariffsCarousel div.t3 .item {
      background-color: rgba(0, 0, 0, 0.5); }
  .accordeonSection .tariffsCarousel .slick-dots {
    bottom: 0; }
    .accordeonSection .tariffsCarousel .slick-dots li.slick-active button::before {
      color: #fff; }

.accordeonSection .accordion {
  width: 100%;
  overflow: hidden; }
  .accordeonSection .accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0; }
    .accordeonSection .accordion ul li {
      display: table-cell;
      vertical-align: bottom;
      background-repeat: no-repeat;
      background-position: center;
      transition: width .5s ease;
      -webkit-background-size: cover;
      background-size: cover;
      width: 10%; }
      .accordeonSection .accordion ul li div a {
        overflow: hidden;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        height: 600px;
        width: 100%;
        position: relative;
        z-index: 3;
        color: #fff; }
        .accordeonSection .accordion ul li div a .redBtn.tarifBtn {
          width: 150px;
          margin-top: 50px; }
        .accordeonSection .accordion ul li div a h2 {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .accordeonSection .accordion ul li div a h2 span.prev img {
            max-width: 30px;
            display: block;
            margin: auto; }
        .accordeonSection .accordion ul li div a p {
          font-size: 0;
          opacity: 0;
          height: 0; }
          .accordeonSection .accordion ul li div a p span {
            font-size: 0;
            height: 0; }
      .accordeonSection .accordion ul li div a * {
        width: 100%; }
    .accordeonSection .accordion ul li:nth-child(1) {
      background-image: asset-url("accordeon/1.png"); }
      .accordeonSection .accordion ul li:nth-child(1) a {
        background-color: rgba(255, 255, 255, 0.6); }
    .accordeonSection .accordion ul li:nth-child(2) {
      background-image: asset-url("accordeon/2.png");
      background-position: 0 0; }
      .accordeonSection .accordion ul li:nth-child(2) a {
        background: rgba(128, 212, 255, 0.5); }
    .accordeonSection .accordion ul li:nth-child(3) {
      background-image: asset-url("accordeon/3.png"); }
      .accordeonSection .accordion ul li:nth-child(3) a {
        background: rgba(13, 255, 189, 0.5); }
    .accordeonSection .accordion ul li.active {
      width: 50%; }
      .accordeonSection .accordion ul li.active a {
        text-align: left;
        background-color: rgba(255, 255, 255, 0.4);
        align-items: flex-end; }
        .accordeonSection .accordion ul li.active a h2 {
          color: $red;
          margin-right: 30px;
          height: auto;
          margin-bottom: 20px;
          max-width: 350px;
          font-size: 5rem;
          line-height: 40px;
          font-family: meta; }
          .accordeonSection .accordion ul li.active a h2 span.prev {
            display: none; }
        .accordeonSection .accordion ul li.active a p {
          margin-right: 30px;
          max-width: 350px;
          line-height: 22px;
          font-size: 18px;
          font-family: Mir;
          height: auto;
          color: #000;
          display: block;
          opacity: 1; }
          .accordeonSection .accordion ul li.active a p span {
            display: block;
            color: $red;
            height: auto;
            font-size: 24px; }
          .accordeonSection .accordion ul li.active a p .redBtn.tarifBtn {
            display: block; }

@media only screen and (min-width: 1450px) {
  .accordeonSection .accordion ul li div a {
    height: 700px; } }

@media only screen and (min-width: 1800px) {
  .accordeonSection .accordion ul li div a {
    height: 780px; } }

.lineSec {
  text-align: center;
  background-position: center center;
  background-color: $red;
  background-image: asset-url("lineSec/lineBg.png");
  background-size: 100%;
  height: 60px;
  h1 {
    color: #fff;
    line-height: 60px;
    margin: 0;
  }
}

.stepByStep {
  ul {
    li {
      display: inline-flex;
      figure {
        p {
          &.stepNum {
            background-color: $red;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin: 35px auto;
            font-family: meta;
            color: #fff;
            font-size: 22px;
            &:before {
              content: "│";
              color: $red;
              position: absolute;
              transform: rotate(160deg);
              margin: -35px 0 0 -15px;
              font-weight: 200;
            }
          }
        }
        .imgWrap {
          position: relative;
        }
        figcaption {
          p {
            max-width: 100px;
            margin: 20px auto;
            font-weight: 800;
            letter-spacing: .3px;
          }
        }
      }
    }
  }
}

.contestSec {
  background-image: asset-url("contestSection/blurBg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .contestSec .infinity {
    display: block;
    text-align: center;
    height: 0; }
    .contestSec .infinity img {
      margin-top: -23px;
      padding: 20px;
      border-radius: 50px;
      background-color: #fff; }
  .contestSec .leftSide p:nth-child(1) {
    font-size: 32px;
    font-weight: 800;
    color: $red; }
  .contestSec .rightSide h3 i {
    color: #fff;
    margin-left: 45px;
    display: block; }
  .contestSec .rightSide ul {
    margin-bottom: 30px; }
    .contestSec .rightSide ul li {
      font-family: meta;
      font-size: 40px;
      font-weight: 800;
      background-position: center;
      background-repeat: no-repeat;
      padding: 15px 0;
      margin: 0 0 15px;
      position: relative; }
      .contestSec .rightSide ul li .wrapper {
        display: block; }
      .contestSec .rightSide ul li span {
        font-size: 14px;
        font-family: mir;
        position: absolute;
        color: #000;
        top: 10px;
        margin-left: -50px; }
    .contestSec .rightSide ul li:not(:last-child) {
      margin-left: 180px; }
    .contestSec .rightSide ul li:nth-child(1) {
      color: #fff;
      background-image: asset-url("contestSection/1Bg.png"); }
    .contestSec .rightSide ul li:nth-child(2) {
      margin-right: 4px;
      color: $red;
      background-image: asset-url("contestSection/2Bg.png"); }
      .contestSec .rightSide ul li:nth-child(2) span.some {
        bottom: 0;
        top: 60px;
        color: $red; }
    .contestSec .rightSide ul li:nth-child(3) {
      margin-right: 32px;
      color: $red;
      background-image: asset-url("contestSection/3Bg.png"); }
    .contestSec .rightSide ul li:nth-child(4) {
      color: $red;
      background-image: asset-url("contestSection/2Bg.png");
      background-size: 70%;
      margin-right: 25px; }
    .contestSec .rightSide ul li:nth-child(5) {
      font-size: 26px;
      padding: 25px 0;
      color: #fff;
      background-image: asset-url("contestSection/4Bg.png"); }
      .contestSec .rightSide ul li:nth-child(5) span {
        color: #fff; }
      .contestSec .rightSide ul li:nth-child(5) span.some {
        bottom: 0;
        top: 60px;
        margin-left: -100px;
        color: #fff; }
  .contestSec .wrapperContest {
    padding-top: 50px;
    padding-bottom: 50px; }
    .contestSec .wrapperContest h1 {
      color: #000;
      margin-bottom: 50px; }
    .contestSec .wrapperContest h3 {
      color: $red;
      margin: 0 40px;
      font-style: italic;
      font-weight: 800;
      font-size: 26px;
      letter-spacing: 1px; }
    .contestSec .wrapperContest p {
      font-size: 18px; }

@media screen and (max-width: 768px) {
  .contestSec {
    background-image:none;
    background-color:#c6c6c6;
  }
  .contestSec .rightSide ul li:not(:last-child) {
    margin: 15px 0; }
  .contestSec .rightSide ul li span {
    top: 5px;
    margin: 0; }
  .contestSec .rightSide ul li span.some {
    white-space: nowrap;
    right: 10px; }
  .contestSec .rightSide ul li:nth-child(1) {
    background-color: $red;
    background-image: none; }
  .contestSec .rightSide ul li:nth-child(2) {
    background-color: rgba(255, 89, 136, 0.3);
    background-image: none; }
  .contestSec .rightSide ul li:nth-child(3) {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.5); }
  .contestSec .rightSide ul li:nth-child(4) {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5); }
    .contestSec .rightSide ul li:nth-child(4) span.some {
      top: 95px; }
  .contestSec .rightSide ul li:nth-child(5) span.some {
        position: relative;
        display: block;
        text-align: right;
        top: 0;
  }
  .contestSec .rightSide h3 {
    margin: 0 5px 0 0;
    font-size: 22px; }
    .contestSec .rightSide h3 i {
      margin: 0; } }

@media screen and (min-width: 768px) and (max-width: 1350px) {
  .contestSec .wrapperContest h1 {
    max-width: 340px;
    margin: 0 auto 30px; }
  .contestSec .rightSide ul li:nth-child(1) {
    background-size: 73%;
    margin-left: 210px; } }

.tariffSec {
  text-align: center;
  padding: 50px 0 10px;
  background-image: asset-url("tariffSec/tariffBg.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  border-bottom: 4px solid $red;
  .wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 290px;
    .itWrap {
      width: 300px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      form {
        display: none;
      }
      h2 {
        color: $red;
      }
      p {
        color: #fff;
      }
      span {
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 2px;
        color: #fff;
        display: block;
        i {
          font-weight: 800;
        }
      }
      button {
        max-width: 150px;
        margin: 0 auto;
        height: 45px;
        padding: 0 25px;
        margin-top: 40px;
        &.DrugsBtn {
          border: 4px solid $red;
          width: 80px;
          height: 80px;
          background-image: asset-url("tariffSec/drugs.png");
          background-size: cover;
          background-position: center;
          border-radius: 50%;
        }
      }
      .DrugsBtnWrap {
        position: relative;
        height: 45px;
        button {
          position: absolute;
          top: -60px;
          right: 0;
          left: 0;
          bottom: 0;
        }
      }
      &:nth-last-child(1) {
        p {
          max-height: 0px;
          margin: -30px 0px 30px;
          line-height: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tariffSec {
    .wrapper {
      flex-wrap: wrap;
      max-height: none;
      .itWrap {
        width: 200px;
        height: 270px;
        margin: auto;
        button {
          margin: 0px auto 40px;
        }
        .DrugsBtnWrap {
          button {
            top: -40px;
          }
        }
      }
    }
  }
}

.regimAndFoodSec {
  padding: 80px 0;
  background-image: asset-url("regimAndFood/regimAndFood.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  p {
    margin: 60px auto 100px;
    max-width: 34em;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .regimAndFoodSec {
    padding: 20px 0;
    p {
      margin: 30px auto;
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.historySec {
  padding: 60px 0;
  background-image: asset-url("history/history.png");
  background-size: cover;
  background-position: bottom;
  color: #fff;
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin: 0 auto 10px;
    max-width: 60em;
    font-size: 18px;
  }

}

@media screen and (max-width: 768px) {
  .historySec {
    padding: 20px 0;
    p {
      margin: 30px auto;
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.beforeAfterSec {
  background-image: asset-url("beforeAfter/beforeAfterBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px 0;
  .beforeAfter {
    margin: 50px 10em;
    text-align: center;
    .item {
      li {
        width: 45%;
        height: 400px;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
        &:nth-child(1) {
          display: inline-block;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background-color: #fff;
          background-size: auto 100%;
        }
        &:nth-child(2){
          display: inline-block;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          background-color: #fff;
          background-size: auto 100%;
        }
      }
      .bg1{
        background-image: asset-url("beforeAfter/beforeFront.png");
      }
      .bg2{
        background-image: asset-url("beforeAfter/beforeBack.png");
      }
      .bg3{
        background-image: asset-url("beforeAfter/beforeRight.png");
      }
      .bg4{
        background-image: asset-url("beforeAfter/beforeLeft.png");
      }
    }
    .slick-prev,.slick-next {
      width: 40px;
      height: 60px;
      &::before {
        content: '';
      }
    }
    .slick-prev {
      left: -45;
      background-image: asset-url("beforeAfter/leftArr.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .slick-next {
      right: -45px;
      background-image: asset-url("beforeAfter/rightArr.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

  }
}
@media screen and (max-width: 768px) {
  .beforeAfterSec {
    .beforeAfter {
      margin: 30px 0;
    }
  }
}


.quoteSec {
  color: #fff;
  background-color: #ffb33b;
  background-image: asset-url("quote/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  p {
    font-size: 18px;
    margin-top: 30px;
  }
  .quote {
    font-size: 28px;
    max-width: 495px;
    text-align: left;
    margin: 30px auto 0;
    &:before {
      position: absolute;
      content: "‹‹";
      width: 30px;
      height: 30px;
      font-size: 78px;
      line-height: 30px;
      margin-left: -80px;
    }
    &:after {
      position: absolute;
      content: "››";
      font-size: 78px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      margin-left: 220px;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 20px;
    li {
      margin: 0 10px 0 0;
      font-size: 18px;
    }
  }
  &.errorPage {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      .error {
        color:$red;
      }
      a {
        color:$red;
        border-bottom:2px solid transparent;
        transition:border-bottom .4s;
        &:hover {
          color:$red;
          border-bottom:2px solid;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .quoteSec {
    padding: 30px 0;
    .quote {
      &:after,&:before{
        display: none;
      }
    }

  }
}


.wrpapRulIcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 100px;
  .item {
    max-width: 200px;
    color: #fff;
    margin: 20px;
    position: relative;
    font-size: 17px;
    p {
      margin-top: 30px;
    }
    .imgWrap {
      height: 80px;
      line-height: 80px;
      img {
        vertical-align: middle;
      }
      &:before {
        content: "│";
        color: $red;
        position: absolute;
        transform: rotate(145deg);
        margin: 0 0 0 -16px;
        font-weight: 200;
        bottom: 85px;
        left: -4px;
      }
      &:after {
        content: "│";
        color: $red;
        position: absolute;
        transform: rotate(145deg);
        margin: -35px 0 0 -15px;
        font-weight: 200;
        bottom: 100px;
        left: -15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrpapRulIcon {
    margin: 0;
    .item {
      max-width: none;
      .imgWrap {
        text-align: center;
        &:before,&:after {
          display: none;
        }
      }
    }
  }
}

.offlineTrainingSec {
  background-image: asset-url("offline/bg.png");
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
  background-color: #000;
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }
  .wrpapRulIcon {
    .imgWrap {
      &:after {
        bottom: 294px;
        left: -21px;
      }
      &:before {
        font-weight: 200;
        bottom: 280px;
        left: -10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .offlineTrainingSec {
    padding: 30px 0;
    .wrpapRulIcon {
      margin: 0;
      .item {
        max-width: none;
        .imgWrap {
          text-align: center;
          &:before,&:after {
            display: none;
          }
        }
      }
    }
  }
}

.feedbackSec {
  padding: 50px 0;
  background-image: asset-url("feedbackSec/pinkBg2.png");
  background-size: cover;
  background-position: center;
  h1 {
    color: #fff;
  }
  p.text-center {
    color: #fff;
  }
  .feedbackCarousel {
    margin: 0 10em;
    .item {
      padding: 0px 65px;
      li {
        &:nth-child(1) {
          padding: 0 0 0 40px;
          label {
            height: 150px;
            overflow: hidden;
            margin-top: 30px;
            color: #000;
            span {
              &:nth-child(1) {
                border: 4px solid #000;
                width: 150px;
                height: 150px;
                background-color: #000;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 50%;
                display: inline-block;
                &.artem {
                  background-image: asset-url("feedbackSec/2_tren.jpg");
                }
                &.ulia {
                  background-image: asset-url("feedbackSec/1_tren.png");
                }
              }
              &:nth-child(2) {
                display: inline-block;
                vertical-align: middle;
                height: 200px;
                margin-left: 40px;
                font-size: 22px;
              }
            }
          }
        }
        &:nth-child(2) {
          margin: 10px 0 0 60px;
          width: 100px;
          text-align: center;
          color: #fff;
          display: inline-block;
          line-height: 13px;
          &.Srt4 {
            margin: 0px 0 0 60px;
          }
        }
        &:nth-child(3) {
          display: inline-block;
          vertical-align: top;
          margin: -50px 0 0 70px;
          max-width: 66%;
          p {
            color:#000;
            strong {
              font-weight:800;
              font-family:meta;
            }
          }
        }
      }
    }
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 60px;
      &:before {
        content: '';
      }
    }
    .slick-prev {
      left: -45;
      background-image: asset-url("feedbackSec/leftArrW.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .slick-next {
      right: -45px;
      background-image: asset-url("feedbackSec/rightArrW.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

@media screen and (max-width: 768px) {
  .feedbackSec {
    padding: 30px 0;
    .feedbackCarousel {
      margin: 0;
      .item {
        padding: 0 5px;
        display: flex;
        flex-wrap:wrap;
        li {
          &:nth-child(1) {
          padding: 0;
            label {
              span {
                &:nth-child(2) {
                  position: absolute;
                  margin-left: 0;
                  font-size: 18px;
                }
              }
            }
          }
          &:nth-child(2) {
            position: absolute;
            margin: 90px 0 0 20px;
          }
          &:nth-child(3) {
            max-width: none;
            margin:30px 0 0;
          }
        }
      }
      .slick-dots {
        bottom: -25px;
        li.slick-active {
          button::before {
            color: #fff;
          }
        }
      }
    }
  }
}
@media screen and (min-width:769px) and (max-width: 1280px) {
  .feedbackSec {
    .feedbackCarousel {
      margin: 0 5em;
      .item {
        padding: 0px 25px;
        .li{
          &:nth-child(3){
            max-width: 85%;
          }
        }
      }
    }
  }
}

.rulesSec {
  background-color: #262626;
  padding: 50px 0;
  .wrpapRul {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: #fff;
      margin-left: 180px;
    }
    span {
      margin-left: 60px;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .rulesSec {
    padding: 30px 0;
    .wrpapRul {
      display: block;
      text-align: center;
      h1,span {
        margin: 0;
      }
    }
  }
}

.FAQsec {
  padding: 80px 0;
  background-color: #e2e2e2;
  h1 {
    max-width: 300px;
    margin: 0 auto 80px;
    text-align: center;
  }
  .item {
    input {
      display: none;
    }
    label {
      color: #000;
      font-weight: 800;
      font-size: 26px;
      cursor: pointer;
      &:before{
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        display: inline-block;
        content: "+";
        height: 40px;
        width: 40px;
        margin-right: 25px;
        border-radius: 50%;
        font-size: 45px;
        font-weight: 800;
        border: 2px solid $red;
        background-color: $red;
        color: #fff;
        transition: background-color .4s, color .4s;
      }
    }
    input:checked + label:before {
      background-color: transparent;
      border: 2px solid;
      color: $red;
      content: "-";
    }
    input:checked ~ article p {
      display: block;
      opacity: 1;
    }
    article {
      p {
        opacity: 0;
        font-size: 18px;
        margin-left: 65px;
        transition: opacity .4s;
        display: none;
      }
    }
  }
  .item:not(:last-child){
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .FAQsec {
    padding: 30px 0;
    h1 {
      margin: 0 auto 20px;
    }
    .item {
      article {
        p {
          margin: 0;
        }
      }
    }
  }
}

.btnStartSec {
  padding: 50px 0;
  background-color: #262626;
}

.partnersSec {
  padding: 30px 0;
  .partnerCarousel {
    text-align: center;
    margin-top: 40px;
    .slick-track {
      margin: auto;
    }
    .partners {
      .item {
        position: relative;
        margin: 0px 30px;
        text-align: center;
        img {
          max-width: 200px;
          margin: auto;
        }
      }
    }
  }
}



.sendMailSec {
  background-color: #2b2b2b;
  padding: 0 0 20px;
  h1 {
    text-align: center;
    color: #fff;
  }
  form {
    margin: 20px 0;
    .redBtn {
      font-weight: 200;
      margin: auto;
      display: block;
      width: 200px;
      font-size: 20px;
    }
    .selectType {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 20px;
      input[type="radio"] {
        display: none;
      }
      .hide-radio + label {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        padding: 0;
        background-color: #F5F5F5;
        color: #8C8C9C;
        font-size: 16px;
        transition: background-color 0.3s ease-in-out;
        line-height: 12px;
        text-indent: 20px;
        margin-left: -60px;
      }
      .hide-radio:checked + label {
        display: inline-block;
        background-color: $red;
        color: #fff;
      }
    }
    .typeInput {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      flex-wrap: wrap;
      input {
        width: 47%;
        border-radius: 20px;
        background-color: #dcdcdc;
        border: 0;
        height: 40px;
        padding: 10px;
        font-size: 17px;
      }
    }
    .mailParth {
      margin-bottom: 20px;
      textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: 50px;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 0;
        font-size: 17px;
        padding: 15px;
      }
      input {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 40px;
        border: 0;
        background-color: #dcdcdc;
        font-size: 17px;
        padding: 10px;
      }
    }

  }

}

.thankU {
  h1 {
    padding: 50px 0;
    color:#000;
    max-width: 280px;
    margin: auto;
  }
}
footer {
  background-color: #8b8b8b;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10em;
    .navWrap {
      flex: 1 0 auto;
    }
    a {
      color: #000;
      padding: 0 20px 0 0;
      text-align: left;
      transition: color .4s;
    }
    a:hover,a:focus {
      color: $red;
    }
    .socialWrap {
      display: flex;
      align-items: center;
      a {
        padding:0;
      }
      li:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
@media screen and (max-width: 768px) {
  footer {
    height: 150px;
    padding:0;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    padding:0 2em 0 0;
  }
}


.grayBtn {
  background-color: $gray;
  padding: 15px 25px;
  border: 0;
  border-radius: 25px;
  color: #fff;
  font-size: 18px; }
.whiteBtn {
  background-color:#fff;
  border-radius: 25px;
  border:2px solid #fff;
  padding: 10px 25px;
  color:#555;
  font-size: 20px;
  transition:color .4s,border .4s;
  &:hover {
    color:$red;
  }
}
.whiteBtn.disabled  {
  color:#A2A2A2;
  &:hover {
    cursor: default;
  }
}
.redBtn {
  background-color: $red;
  padding: 10px 25px;
  border: 2px solid $red;
  border-radius: 25px;
  color: #fff;
  font-size: 20px;
  transition: background-color .4s,color .4s;
  &.disabled {
    background-color: lighten( $red, 35% );
    border: 2px solid lighten( $red, 35% );
  }
}
.redBtn:hover,.redBtn:focus {
    background-color: #fff;
    color: $red;
    border: 2px solid $red;
    &.disabled {
      background-color: lighten( $red, 35% );
      border: 2px solid lighten( $red, 35% );
      color: #fff;
    }
}

.new_solution_errors {
  color:$red;
  p {
    margin: 0 0 0 35px;
  }
}

.user_data {
  background-color: #fff;
  .user_data_titel {
    padding: 30px 0;
    h2 {
      display: inline-block;
      padding-left: 27%;
      padding-right: 80px;
    }
    p {
      display: inline-block;
      padding-right: 20px;
      position: relative;
      top: 9px;
    }
  }
  .form {
    input,button {
      border: none;
      border-radius:50px;
      background-color: #f5f5f5;
      color: #a0a0a0;
      font-size: 20px;
    }
    .btn_fo_div {
      border: none;
      border-radius:50px;
      background-color: #f5f5f5;
      color: #a0a0a0;
      font-size: 20px;
      display: inline-block;
      background-position: center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .motivation_word {
      width: 100%;
      text-align: center;
      padding: 10px 20px;
      margin-top:30px;
    }
    .aploadCarousel {
      .item {
        text-align: center;
        display: flex;
        .img_show_block {
          display: inline-block;
          width:49%;
          height: 300px;


          // position: relative;
          // top: 103px;
        }
      }
      .slick-dots {
        li {
          button {
            background-color: transparent;
            font-size:0;
            &:before {
              font-size: 15px;
              color:red;
            }
          }
          &.active {

          }
        }
      }
    }

    .user_data_btn {
      height: 300px;
      width: 49%;
      margin-top: 30px;
    }
    .btn_left {
      border-radius: 10px 0 0 10px;
    }
    .btn_center {
      border-radius: 0 10px 10px 0;
    }
    .btn_right {
      margin-left: 20px;
      border-radius:10px;
      width:100%;
    }
  }
  .user_paramentry {
    ul {
      display: inline-block;
      width: 45%;
      li {
        margin: 10px 0;
        input {
          width: 100%;
          padding: 10px 0 10px 12px;
        }
      }
    }
  }
  .footer_user_data {
    margin-bottom: 70px;
    .pink {
      padding: 20px 0;
    }
  }
}
.lk_tariff {
  border-bottom: none;
  .titel_tariff {
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      font-family: meta;
  }
  .infinity {
    .redBtn {
      margin: 30px auto 100px;
    }
    .DrugsBtn {
      margin: 10px -50px;
    }
  }
}
.week_plan_drugs_eat {
  background-color: #e8698d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .tab-content {
    background-color: transparent;
  }
  button {
    margin: 5px 5px 20px 5px;
    width: 163px;
  }
  .sendType {
    .selectType {
      display: flex;
      justify-content: center;
    }
    .redBtn {
      margin:20px auto 0;
      display: block;
    }
  }

  .titel_tariff {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      margin: 0;
      padding: 70px 0 30px 0;
      font-family: meta;
  }
  .table_plan {
    padding-bottom:70px;
    h3 {
      color: #000;
      font-style: italic;
      padding-left: 10px;
      font-size: 40px;
      font-weight: bold;
      font-family: meta;
    }
    p {
      color: #fff;
      padding-left: 10px;
      padding-bottom: 15px;
      font-size: 20px;
    }
    table {
      width: 100%;
      thead {
        tr {
          td {
            color: #000;
            padding: 0px 10px 10px 10px;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 0px 10px 10px 10px;
            vertical-align:top;
            color:#fff;
            a {
              color: #fff;
              sup {
                font-size: 12px;
                color:#000;
              }
            }
          }
          td:nth-child(2) {
            border-right: 1px solid #fff;
          }
        }
      }
    }
  }
}

.lk_tariff {
  border-bottom: none;
  .titel_tariff {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: meta;
  }
  .infinity {
    .redBtn {
      margin: 30px auto 100px;
    }
    .DrugsBtn {
      margin: 10px -50px;
    }
  }
}
.week_plan_drugs_eat {
  padding-bottom:50px;
  background-color: #e8698d;
  // background-image: asset-url("lk/bg_plan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .tabs-menu {
    margin-bottom: 20px;
    li {
      display: inline-table;
        margin:5px 10px;
    }
    li.current {
      a {
        border:2px solid #000;
        color:#000
      }
    }
  }
  .tab-content {
    display: none;
  }
  .dopInfo {
    display: flex;
    justify-content: center;
    .left,.right {
      max-width:34em;
      margin:20px;
      h2 {
          font-family: meta;
          font-weight:800;
          font-size:32px;
          color:#000;
        }
      ul {

        li {
          color:#fff;
          margin-bottom:5px;
        }
      }

    }
  }
  .titel_tariff {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 70px 0 30px 0;
    font-family: meta;
  }
  .subtitel_tariff{
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
    font-family: meta;
  }
  .table_plan {
    h3 {
      color: #000;
      font-style: italic;
      padding-left: 10px;
      font-size: 40px;
      font-weight: bold;
      font-family: meta;
      p {
        color: #fff;
        padding-left: 10px;
        font-size: 20px;
      }
      table {
        width: 100%;
        thead {
          tr {
            td {
              color: #000;
              padding: 0px 10px 10px 10px;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 0px 10px 10px 10px;
              color: #fff;
              vertical-align: top;
              a {
                color: #fff;
                sup {
                  font-size: 12px;
                  color:#000;
                }
              }
              &:nth-child(2) {
                border-right: 1px solid #fff;
              }
            }
          }
        }
      }
    }
  }
}

.calculate {
  background-color: #52acff;
  background-image: asset-url("calculate/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 390px;
  input,select {
    border: none;
    border-radius: 50px;
    background-color: #f5f5f5;
    color: #a0a0a0;
    font-size: 20px;
    padding: 10px;
    width: 150px;
  }
  select {
    -webkit-appearance: none;
    background-repeat: no-repeat;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none;
    background-image: asset-url("calculate/arrowBottom.png");
    background-position: right 15px;
    &.activity {
      width: 200px;
    }
    &::-ms-expand {
      display: none;
    }
  }
  p {
    color: #fff;
    padding: 30px 0;
  }
  h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: meta;
    padding: 25px 0;
  }
  h3 {
    color: #fff;
    padding-bottom:20px;
  }
}


@media screen and (max-width: 768px) {
  .calculate {
    padding-bottom: 20px;
    form {
      input,
      select {
        margin-bottom: 20px;
      }
      select {
        &.activity {
          margin: 0;
        }
      }
    }
  }
}

.trainMail {
  position: relative;
  background-color: #52acff;
  background-image: asset-url("trainMailSection/bg_form.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 415px;
  .foto {
    color: #fff;
    font-size: 18px;
  }
  .load {
    color: #fff;
    margin: 20px 30px 30px 0;
    font-size: 18px;
  }
}

.center-align {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: center; }

.modalSec .modal-header {
  border: 0; }
  .modalSec .modal-header .close {
    font-size: 60px;
    line-height: 0px;
    transition: opacity .4s;
    height: 30px; }
  .modalSec .modal-header .modalLogo {
    max-width: 75px;
    margin: -35px auto 0;
    display: block; }


.modalSec .modal-body .formWrapper form div.avatar{
  cursor: pointer; cursor: hand;
  background-color: #f5f5f5;
  background-size: cover;
  margin: 15px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  // background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='130px' width='130px'><text y='58' x='20' fill='rgb(33,33,33)'>Загрузить</text><text y='78' x='34' fill='rgb(33,33,33)'>аватар</text></svg>");
}

.modalSec .modal-body .formWrapper form div.avatar .help {
  display: none;
}

.modalSec .modal-body .formWrapper form div.avatar:hover .help {
  display: block;
}

.modalSec .modal-footer {
  border: 0;
  text-align: center;
  max-height: 125px; }
  .modalSec .modal-footer p.redLabel {
    color: $red;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: .4;
    margin-bottom: 30px; }
  .modalSec .modal-footer .redBtn {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: .9; }

.tabs-left {
  border:0;
}

.modalSec {
  .modal-header {
    border: 0;
    .close {
      font-size: 60px;
      line-height: 0px;
      transition: opacity .4s;
      height: 30px;
    }
    .modalLogo {
      max-width: 75px;
      margin: -35px auto 0;
      display: block;
    }
  }
  .modal-body {
    .formWrapper {
      form {
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"] {
          background-color: #f5f5f5;
          border-radius: 20px;
          border: 0;
          padding: 10px 15px;
          font-size: 18px;
          margin: 15px 30px;
          width: 90%;
        }
        .MG {
          text-align: right;
          input {
            display: inline-block;
          }
        }
        .hide-radio + label {
          display: block;
          float: right;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          padding: 10px 0;
          text-align: center;
          background-color: #F5F5F5;
          color: #8C8C9C;
          font-size: 20px;
          -webkit-transition: background-color 0.3s ease-in-out;
          -moz-transition: background-color 0.3s ease-in-out;
          -o-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
          margin: 10px 30px 0 -20px;
        }
        .hide-radio:checked + label {
          display: inline-block;
          width: 50px;
          background-color: $red;
          color: #fff;
        }
        .checked_Male {
          input {
            display: none;
          }
        }
      }
    }
    .thankU {
      h2 {
        color: $red;
        text-align: center;
        margin: 40px auto 80px;
      }
    }
  }
  .modal-footer {
    border: 0;
    text-align: center;
    max-height: 125px;
    p {
      &.redLabel {
        color: $red;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: .4;
        margin-bottom: 30px;
      }
    }
    .redBtn {
      font-size: 28px;
      font-weight: 800;
      letter-spacing: .9;
    }
  }

}


.tabs-left {
  border:0;
  margin-top:40px;
  li {
    float: none;
    margin-bottom: 2px;
    min-width: 230px;
    a {
      border-radius: 30px 0 0 30px;
      border:0;
      color:#fff;
      display:block;
      margin-right:0;
      &:hover {
        color:#fff;
        background-color: transparent;
      }
    }
    &.active {
      a {
        border:0;
        color:#fff;
        text-shadow:5px 5px 30px rgba(0, 216, 198, 1),-5px 5px 30px rgba(0, 216, 198, 1),5px -5px 30px rgba(0, 216, 198, 1),5px 3px 30px rgba(0, 216, 198, 1),3px 3px 30px rgba(0, 216, 198, 1);
        background-color:#fff;
        filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#fff, endColorstr=#00d8c6);
        background-image:-moz-linear-gradient(right, #fff 20%, #00d8c6 100%);
        background-image:-webkit-linear-gradient(right, #fff 20%, #00d8c6 100%);
        background-image:-ms-linear-gradient(right, #fff 20%, #00d8c6 100%);
        background-image:linear-gradient(right, #fff 20%, #00d8c6 100%);
        background-image:-o-linear-gradient(right, #fff 20%, #00d8c6 100%);
        background-image:-webkit-gradient(linear, right bottom, left bottom, color-stop(20%,#fff), color-stop(100%,#00d8c6));
        &:hover,&:focus {
          color:#fff;
          border:0;
        }
      }
    }
  }
}

.tab-content {
  margin-top:20px;
  color: #000;
  background-color:#fff;
  padding:10px 30px;
  &.wrapperTab {
    min-height: 586px;
    border-radius:30px;
  }
  h4 {
    margin-top: 0;
    font-family:meta;
  }
  ul {
    li {
      a {
        color:$red;
      }
    }
  }
  .btnWrap {
    padding:20px 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    li {
      margin-right: 30px;
      a {
        color:#fff;
      }
      &.active {
        a {
          color:$red;
          border:2px solid;
          background-color: transparent;
        }
      }
      &:hover {
        a {
          color:$red;
        }
      }
    }
  }
  p {
    margin:0;
    strong{
      font-family:meta;
    }
  }
}

.prNone {
  padding-right: 0;
  margin-top: 50px;
  min-height: 576px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.plNone {
  padding-left:0;
}

.promoPageSec {
  background-color: #e2e2e2;
  padding:50px 0;
  min-height: calc(100vh - 339px);
  .textWrpper {
    max-width:42em;
    margin:20px auto 50px;
  }
  .table-responsive {
    max-width:42em;
    margin: auto;
    tbody {
      tr {
        td {
          vertical-align: middle;
        }
      }
    }
    a {
       margin:20px 0;
       display: block;
    }
  }
}

.promoFormModal {
  .selectType{
    text-align: center;
    article,input[type="radio"] {
      display: none;
    }
    input.tel:checked ~ article.tel {
      display: block;
    }
    input.mail:checked ~ article.mail {
      display: block;
    }
    label {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      background-color: #F5F5F5;
      color: #8C8C9C;
      font-size: 16px;
      transition: background-color 0.3s ease-in-out;
      line-height: 12px;
      text-indent: 20px;
      text-align: center;
      margin-right: 90px;
    }
    input:checked + label {
        display: inline-block;
        background-color: $red;
        color: #000;
    }
  }

}

.week_plan_drugs_eat {
  .selectType{
    input[type="radio"] {
      display: none;
    }
    label {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      background-color: #F5F5F5;
      color: #fff;
      font-size: 16px;
      transition: background-color 0.3s ease-in-out;
      line-height: 12px;
      text-indent: 20px;
      text-align: center;
      margin-right: 140px;

    }
    input:checked + label {
        display: inline-block;
        background-color: $red;
        color: #000;
    }

  }
}
.slick-slide {
  outline:none;
}
.timmerSec {
  background-color:$red;
  .Timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;
    flex-wrap: wrap;
    h2 {
      color:#fff;
      margin-right:40px;
    }
    .eTimer {
      .etUnit{
        .etNumber {
          font-family:meta;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .timmerSec{
    .Timer {
      h2 {
        margin:20px auto 0;
      }
    }
  }

}

.forumSec {
  background-color:$red;
  padding:50px 0;
  min-height: calc(100vh - 279px);
  .headPage {
    color:#fff;
    border-bottom:4px solid #fff;
    display: flex;
    align-items: center;
    max-width: 60em;
    margin: 0 auto 30px;
    a {
      color: inherit;
      text-decoration: none;
    }
    .tags {
      display: flex;
      margin:0 0 0 auto;
      li {
        a{
          color:#fff;
          transition:color .4s;
          &:hover {
            color:#000;
          }
        }
      }
      li:not(:last-child) {
        margin-right:20px;
      }
    }

    h1 {
      font-size:44px;
      margin:0;
    }
  }
  .postItem {
    background-color:#fff;
    display: flex;
    max-width: 60em;
    padding: 20px;
    margin: 0 auto;
    align-items: flex-start;
    .linkPost {
      color:#000;
      display: block;
    }
    .imgWrap {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: none;
      min-width: 130px;
      min-height: 130px;
      border-radius:50%;
    }
    .textWrap {
      padding:0 35px;
      width:100%;
      a {
        color:#000;
        transition:color .4s;
        &:hover {
          color:$red;
        }
      }
      .into {
        display: flex;
        li {
          margin-right:20px;
          i {margin-right:5px;}
        }
        li:last-child{
          margin: 0 0 0 auto;
          color:#959595;
        }
      }
      .field {
        display: flex;
        input,textarea {
          margin:30px auto 0;
          color:$red;
          font-size: 30px;
          padding:10px;
          border:0;
          border-bottom:1px solid #000;
        }
      }
      .actions {
        display: flex;
        input {
          margin: 30px auto;
        }
      }

    }
    &.comment {
      padding:5px 20px;
      .imgWrap {
        min-width: 80px;
        min-height: 80px;
      }
    }
    &.editPost {
      flex-direction: column;
      align-items: center;
    }
  }
  .settings {
    a {
      color:#424242;
      &:hover {
        color:$red;
      }
    }
  }
  .postItem:not(:last-child){
    margin-bottom:20px;
  }
  .postItem:hover {
    .textWrap {

    }
  }

}
.wrapAddItem {
  display: flex;
  justify-content: center;
}
.forumbtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover {
    background: #ededed;
    text-decoration: none;
  }
}




// .logInSection {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: calc(100vh);
//   .modalLogo {
//     margin: 0 auto 30px;
//     display: block;
//     padding-right:25px;
//   }
//   .formWrapper {
//     display: flex;
//     flex-direction: column;
//     input[type="email"],
//     input[type="password"]{
//       margin:0 0 20px 0;
//       border-radius:20px;
//       border:2px solid $red;
//       padding:10px 5px;
//       outline: none;
//       width:300px;
//       &:-webkit-autofill {
//         -webkit-box-shadow: inset 0 0 0 50px #fff !important;
//         -webkit-text-fill-color: #000 !important;
//         color: #000 !important;
//       }
//     }

//     a {
//       text-align: center;
//       margin:10px;
//       cursor: pointer;
//       color:#000;
//       transition:color .4s;
//       &:hover {
//         color:$red;
//       }
//     }
//   }
//   .socialWrap {
//     display: flex;
//     align-items: center;
//     margin-top:20px;
//     li {
//       &:not(:last-child) {
//         margin-right:20px;
//       }
//       a {
//         color:#000;
//         cursor: pointer;
//         transition:color .4s;
//         &:hover {
//           color:$red;
//         }
//       }
//     }
//   }
// }
// .passNewSection {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: calc(100vh);
//   .modalLogo {
//     margin: 0 auto 30px;
//     display: block;
//     padding-right:25px;
//   }
//   .formWrapper {
//     display: flex;
//     flex-direction: column;
//     input[type="text"],
//     input[type="email"],
//     input[type="password"]{
//       margin:0 0 20px 0;
//       border-radius:20px;
//       border:2px solid $red;
//       padding:10px 5px;
//       outline: none;
//       width:300px;
//       &:-webkit-autofill {
//         -webkit-box-shadow: inset 0 0 0 50px #fff !important;
//         -webkit-text-fill-color: #000 !important;
//         color: #000 !important;
//       }
//     }
//     a {
//       text-align: center;
//       margin:10px;
//       cursor: pointer;
//       color:#000;
//       transition:color .4s;
//       &:hover {
//         color:$red;
//       }
//     }
//   }
//   .socialWrap {
//     display: flex;
//     align-items: center;
//     margin-top:20px;
//     li {
//       &:not(:last-child) {
//         margin-right:20px;
//       }
//       a {
//         color:#000;
//         cursor: pointer;
//         transition:color .4s;
//         &:hover {
//           color:$red;
//         }
// }
//     }
//   }
// }

.authorize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh);
  .modalLogo {
    margin: 0 auto 30px;
    display: block;
    padding-right:25px;
  }
  .new_solution_errors {
    text-align: center;
    p {
      margin: 0 auto 15px;
    }
  }
  .formWrapper {
    display: flex;
    flex-direction: column;
    input[type="text"],
    input[type="email"],
    input[type="password"]{
      margin:0 0 20px 0;
      border-radius:20px;
      border:2px solid $red;
      padding:10px 5px;
      outline: none;
      width:300px;
      &:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 50px #fff !important;
        -webkit-text-fill-color: #000 !important;
        color: #000 !important;
      }
    }
    .inputsWrapper {
      display: flex;
      input[type="text"] {
        width:auto;
        padding: 10px 0;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto 20px;
      }
    }
    a {
      text-align: center;
      margin:10px;
      cursor: pointer;
      color:#000;
      transition:color .4s;
      &:hover {
        color:$red;
      }
    }
  }
  .genderSelect {
    text-align: center;
    label {
      margin:0 10px 20px;
      width:40px;
      height:40px;
      line-height:40px;
      text-align: center;
      color:#fff;
      cursor: pointer;
      border-radius:50%;
      background-color:$red;
      transition:background-color .4s;
    }
    input:checked + label {
      background-color:#000;
    }
  }
  .goToParth {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .socialWrap {
    display: flex;
    align-items: center;
    margin-top:20px;
    li {
      &:not(:last-child) {
        margin-right:20px;
      }
      a {
        color:#000;
        cursor: pointer;
        transition:color .4s;
        &:hover {
          color:$red;
        }
      }
    }
  }
}
.loadVideo {
  padding:0 0 50px;
  .loadInput {
    margin-bottom: 30px;
    input {
      border:0;
      border-bottom: 1px solid $red;
      width:100%;
      max-width:400px;
      cursor: pointer;
      padding:5px 0;
      font-size:17px;
    }
  }
  
}

a[rel="popover"]{
    display: inline-block;
}

.gymnastic {
  a {
    color: #fff;
    sup {
      font-size: 12px;
      color:#000;
    }
  }
}
.weekCarousel {
      background-color: #e8698d;
      margin-bottom:0;
      .slick-dots {
        bottom:30px;
      }
}

