<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Вы запросили ссылку для восстановления пароля.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали восстановление пароля, просто проигнорируйте это сообщение.</p>