<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<title>Похудей и выйграй приз</title>
<style type="text/css">
  .ReadMsgBody {width: 100%; background-color: #ffffff;}
  .ExternalClass {width: 100%; background-color: #ffffff;}
  body   {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;font-family: Georgia, Times, serif}
  table {border-collapse: collapse;}

  @media only screen and (max-width: 640px)  {
          body[yahoo] .deviceWidth {width:440px!important; padding:0;}
          body[yahoo] .center {text-align: center!important;}
      }

  @media only screen and (max-width: 479px) {
          body[yahoo] .deviceWidth {width:280px!important; padding:0;}
          body[yahoo] .center {text-align: center!important;}
      }
  a{outline: 0;}
  input::-moz-focus-inner { border: 0; }
  input[type=submit] { cursor: pointer; cursor: hand; }

  .payBtn{
    background-color:#fff;
    width:100px;
    border-width:0;
    height:37px;
  }

</style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix" style="font-family: Helvetica, Verdana, serif">
	<%= yield %>
</body>
</html>
